@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.img-background {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

.experimenta-container {
	background: url('../WEB/INTRO-FONDO.jpg') center center/cover no-repeat;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	object-fit: contain;
	color: #fff;
}

.experimenta-container>h1 {
	font-size: 100px;
}

.experimenta-container>p {
	margin-top: 8px;
	font-size: 18px;
}

.text-experimenta {
	width: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: center;
}

.text-experimenta-wrapper {
	display: flex;
}

.text-experimenta-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 16px;
	text-align: left;
	width: 100%;
	box-sizing: border-box;
}

.text {
	margin: 16px;
	box-sizing: border-box;
}

.text-experimenta-items>h1 {
	text-align: left;
	font-size: 120px;
}

.text-experimenta-items>p {
	text-align: left;
	font-size: 16px;
	width: 55%;
	font-weight: 700;
}

.ws {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.ws>p {
	font-size: 18px;
	font-weight: 700;
	margin-top: 10px;
}

@media screen and (max-width: 960px) {

	.experimenta-container>h1 {
		font-size: 70px;
		margin-top: -150px;
	}

}

@media screen and (max-width: 768px) {

	/* .experimenta-container {
	background: url('../MOVIL/INTRO-FONDO.jpg') center center/cover no-repeat;
} */

	.experimenta-container {
		flex-direction: column;
	}

	.experimenta-container>h1 {
		font-size: 50px;
		margin-top: 0px;
	}

	.experimenta-container>p {
		font-size: 15px;
	}

	.btn-mobile {
		display: block;
		text-decoration: none;
	}


}